body, td, th, input,textarea,select { font-family: arial; font-size:10pt;} 
html { height:100%;}
body { margin:0px; padding:0px;  height:100%; min-height:100%; }
#wrapper { margin:0px auto; max-width:1000px;  height:100%; }
#container { height:auto !important;height:100%;min-height:100%;    }
#body { padding:8px; padding-bottom:16px; }
form { display: inline; }


h2,h3 { margin:0; }
h2 { font-size:15pt;/* float:right; padding-right:10px;*/ background-color :#ffdddd;width:20%; }
h3 { border-bottom:2px solid #B5D5FF; margin-bottom:10px; padding:6px 0; font-size:11pt;  background-color:yellow;/*#f9f9f9;width:30%; */ }
a { color:#0000ff; }
 

#space { height:30px; }



 
#bar { border-bottom:1px solid #b5d5ff; padding-bottom:5px; height:15px; }
.nodecor { text-decoration:none; } 

	
 bar_logout { display:none; }
bar_auth { display:none; }
 



#authform { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:160px; }
#authform div { padding:2px 0px; }
#authform div.h { font-weight:bold; }

#msg, .msg{background:#eff6ff; padding:4px; display:none; border-bottom:1px solid #DEDEDE;}
div.tab{display:block;}
div.tab a:link, div.tab a:visited {padding:4px 6px; background:#FFFFFF; display:inline-block; float:left; width:auto; margin-right:4px; text-decoration:none; font-size:12px; font-weight:bold; color:#444444;}
div.tab a:hover{color:#999999;}

#tabs ul { list-style: none; padding:0; margin:0; }
#tabs ul li { margin:0; font-size: 9pt; font-weight:bold; float: right; width:90px; text-align:center; margin-right: 6px;  background-color:#f9f9f9;}
#tabs ul a { margin:0px;  text-decoration: none; color:#444444; display: block; height:24px; width: 100%; padding-top: 4px; outline:none; }
#tabs ul li.ui-tabs-selected { background-color:yellow /*#ededed*/; }
#tabs ul li.ui-state-hover a { color: white; }
.ui-tabs .ui-tabs-hide { display: none; }
#tabs ul li.ui-state-disabled a { color: #cccccc; }


#usertabs ul { list-style: none; padding:0; margin:0; }
#usertabs ul li { margin:0; font-size: 9pt; font-weight:bold; float: right; width:90px; text-align:center; margin-right: 6px;  background-color:#f9f9f9;}
#usertabs ul a { margin:0px;  text-decoration: none; color:#444444; display: block; height:24px; width: 100%; padding-top: 4px; outline:none; }
#usertabs ul li.ui-tabs-selected { background-color:yellow /*#ededed*/; }
#usertabs ul li.ui-state-hover a { color: white; }
.ui-usertabs .ui-tabs-hide { display: none; }
#usertabs ul li.ui-state-disabled a { color: #cccccc; }


.tab-content { background-color:yellow; padding:8px; border-bottom:2px solid #DEDEDE;  }
#loading { float:right; padding-top:5px; background-color:yellow; display:none; padding-right:6px;}
#userloading { float:right; padding-top:5px; background-color:yellow; display:none; padding-right:6px;}



#task, #search { color:#444444; width:300px; }
.small-bar{ font-size:8pt; color:#999999; font-weight:normal;}
#msg { background-color:#ff3333;  padding:1px 4px; display:none; font-weight:bold; cursor:pointer; }
#msgdetails { padding:1px 4px; border:1px solid #ff3333; background-color:#fff; display:none; max-width:700px;  }
#searchbar { font-size:10pt; font-weight:normal; display:none;  margin-top:5px; }
#searchbarkeyword { font-weight:bold; }



 


 




.task-left { width:25px; float:left; }
.task-middle { margin-left:25px; margin-right:65px; }
 .nobr input { margin-left:0px; margin-right:4px; } 
 

#tasklist { list-style-type: none; margin: 0; padding: 0;}
#tasklist li { padding:6px 2px 6px 6px; border-bottom:1px solid #DEDEDE; min-height:18px; margin-bottom:1px; }
#tasklist li:hover { background-color:#f6f6f6; }


#userlist { list-style-type: none; margin: 0; padding: 0;}
#userlist li { padding:6px 2px 6px 6px; border-bottom:1px solid #DEDEDE; min-height:18px; margin-bottom:1px; }
#userlist li:hover { background-color:#f6f6f6; }



.task-actions { float:right; width:150px; text-align:right; }
.task-actions a { margin-left:2px; margin-right:2px; }
.task-actions img { border:none; width:16px; height:16px; }
.task-date { color:#999999; font-size:8pt; margin-right:4px; display:none; }
.task-title a { color:#000000; }
.task-title a:hover { color:#af0000; }
#tasklist.readonly li .task-actions { display:none; }
.task-tags { margin-left:4px; padding:0px 2px; }
.task-tags .tag { font-size:8pt; font-weight:bold; color:#333333; text-decoration:underline;  }
.task-tags .tag:hover {  }
.duedate { color:#333333;  border-bottom:1px dotted #333333; padding:0px; padding-left:1px; margin-left:5px; float:left; }

#tasklist li.soon .duedate { color:#008000; border-color:#008000; }
#tasklist li.today .duedate { color:#FF0000; border-color:#FF0000; } 
#tasklist li.past .duedate { color:#A52A2A;  border-color:#A52A2A; } 


#userlist li.soon .duedate { color:#008000; border-color:#008000; }
#userlist li.today .duedate { color:#FF0000; border-color:#FF0000; } 
#userlist li.past .duedate { color:#A52A2A;  border-color:#A52A2A; } 



li.task-completed span.task-through { text-decoration:line-through; color:#777777; }
li.task-completed .task-title a { color:#777777; }
li.task-completed .task-actions a { color:#7070ff; }


#tasklist li.task-completed .duedate { color:#777777; border-color:#777777; }
#tasklist.filter-past li, #tasklist.filter-today li, #tasklist.filter-soon li { display:none; }
#tasklist.filter-past li.past, #tasklist.filter-today li.today, #tasklist.filter-soon li.soon { display:block; }
#tasklist.filter-past li.task-completed, #tasklist.filter-today li.task-completed, #tasklist.filter-soon li.task-completed { display:none; }






#userlist li.task-completed .duedate { color:#777777; border-color:#777777; }
#userlist.filter-past1 li, #userlist.filter-today1 li, #userlist.filter-soon1 li { display:none; }
#userlist.filter-past1 li.past, #userlist.filter-today1 li.today, #userlist.filter-soon1 li.soon { display:block; }
#userlist.filter-past1 li.task-completed, #userlist.filter-today1 li.task-completed, #userlist.filter-soon1 li.task-completed { display:none; }





div.task-note-block { margin-left:2px; color:#777777;  background:url(images/page_white_text.png) left  2px no-repeat; padding-left:19px; padding-top:2px; min-height:16px; margin-top:2px; }
li.task-completed div.task-note-block div.task-note { text-decoration:line-through; }
div.task-note-area { display:none; margin-bottom:5px; }
div.task-note-area textarea { color:#999999; width:100%; display:block; height:65px; }

.hidden { display:none; }


.in200 { width:200px; color:#444444; }
.in500 { width:500px; color:#444444; }
.in100 { width:100px; color:#444444; }
.in30 { width:30px; color:#444444; }

.task-note-actions { font-size:8pt; }
.task-note span a { color:#777777; }
.task-note span a:hover { color:#af0000; }

.task-prio { padding-left:2px; padding-right:2px; margin-left: 2px; margin-right:3px; cursor:default;float:right; }
.prio-neg { background-color:#3377ff; color:#ffffff; }
.prio-pos { background-color:#ff3030; color:#ffffff;  }
.prio-o { background-color:#dedede; }

#tasklist li .prio-o { display:none; }
#userlist li .prio-o { display:none; }

#authstr { display: none; color:#999999; }
#authstr.attention { color:#ff0000; }

.form-row { margin-top:4px; margin-bottom:4px; }
.form-row span.h { font-weight:bold; color:#333333;  }


#overlay { position:fixed; z-index:200; background-color:#111111; display:none; top:0px; left:0px; width:100%; height:100%;overflow:scroll; }
#usertasklist { position:fixed; z-index:200; background-color:#111111; display:none; top:0px; left:0px; width:100%; height:100%;overflow:scroll; }


#page_taskedit { position:fixed; z-index:201; background-color:#fdfdfd; padding:8px; border:1px solid #cccccc; width:510px; }
#page_taskedit .form-row .in500 { width:99%; }
#page_taskedit .form-row textarea.in500 { height:130px; }



#page_taskedit_multi { position:fixed; z-index:201; background-color:#fdfdfd; padding:8px; border:1px solid #cccccc; width:510px; }
#page_taskedit_multi .form-row .in500 { width:99%; }
#page_taskedit_multi .form-row textarea.in500 { height:130px; }




#page_useredit { position:fixed; z-index:201; background-color:#fdfdfd; padding:8px; border:1px solid #cccccc; width:510px; }
#page_useredit .form-row .in500 { width:99%; }
#page_useredit .form-row textarea.in500 { height:130px; }


#page_usertaskedit { position:fixed; z-index:201; background-color:#fdfdfd; padding:8px; border:1px solid #cccccc; width:510px; }
#page_usertaskedit .form-row .in500 { width:99%; }
#page_usertaskedit .form-row textarea.in500 { height:130px; }



.ui-icon-gripsmall-diagonal-se { background-image:url(images/resizegrip.gif); }

/* autocomplete */
.ac_results { padding: 0px; border: 1px solid #cccccc; background-color: #f0f0f0; overflow: hidden;  z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { margin: 0px; padding: 2px 5px; cursor: default; display: block; line-height: 16px; overflow: hidden; } 
.ac_over { background-color: #bbbbbb; color: white; }

#priopopup { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; } 
#priopopup .prio-o { display:inline; }
#priopopup span { cursor:pointer; border:1px solid #f9f9f9;}
#priopopup .prio-o:hover { border:1px solid #dedede; }
#priopopup .prio-neg:hover { border:1px solid #3377ff; }
#priopopup .prio-pos:hover { border:1px solid #ff3030; }


#userpriopopup { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; } 
#userpriopopup .prio-o { display:inline; }
#userpriopopup span { cursor:pointer; border:1px solid #f9f9f9;}
#userpriopopup .prio-o:hover { border:1px solid #dedede; }
#userpriopopup .prio-neg:hover { border:1px solid #3377ff; }
#userpriopopup .prio-pos:hover { border:1px solid #ff3030; }




#tagcloudbtn { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc; padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#tagcloudbtn:hover { border-bottom:1px solid #bbb; } 
#tagcloudbtn .tag { font-weight:bold; }
#tagcloudload { display:none; }
#tagcloud { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:400px; text-align:center; } 
#tagcloud .tag { margin:1px; padding:2px; line-height:140%; color:black; }
#tagcloud .tag:hover { background-color:#999988; color:white; }
#tagcloud .w0 { font-size:80%; }
#tagcloud .w1 { font-size:90%; }
#tagcloud .w2 { font-size:100%; }
#tagcloud .w3 { font-size:110%; }
#tagcloud .w4 { font-size:120%; }
#tagcloud .w5 { font-size:130%; }
#tagcloud .w6 { font-size:140%; }
#tagcloud .w7 { font-size:150%; }
#tagcloud .w8 { font-size:160%; }
#tagcloud .w9 { font-size:170%; }
#tagcloudcancel { border:1px solid #cccccc; padding:2px; margin-bottom:4px; cursor:pointer; background-color:#fdfdfd; }
#tagcloudcancel:hover { border-color:#aaaaaa; }



#tagusercloudbtn { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc; padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#tagusercloudbtn:hover { border-bottom:1px solid #bbb; } 
#tagusercloudbtn .tag { font-weight:bold; }
#tagusercloudload { display:none; }
#tagusercloud { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:5px; width:400px; text-align:center; } 
#tagusercloud .tag { margin:1px; padding:2px; line-height:140%; color:black; }
#tagusercloud .tag:hover { background-color:#999988; color:white; }
#tagusercloud .w0 { font-size:80%; }
#tagusercloud .w1 { font-size:90%; }
#tagusercloud .w2 { font-size:100%; }
#tagusercloud .w3 { font-size:110%; }
#tagusercloud .w4 { font-size:120%; }
#tagusercloud .w5 { font-size:130%; }
#tagusercloud .w6 { font-size:140%; }
#tagusercloud .w7 { font-size:150%; }
#tagusercloud .w8 { font-size:160%; }
#tagusercloud .w9 { font-size:170%; }
#tagusercloudcancel { border:1px solid #cccccc; padding:2px; margin-bottom:4px; cursor:pointer; background-color:#fdfdfd; }
#tagusercloudcancel:hover { border-color:#aaaaaa; }





.ui-datepicker { width:180px; z-index:202; border: 1px solid #cccccc; background: #ffffff; display:none; padding:2px; }
.ui-datepicker-trigger { cursor:pointer; vertical-align:text-bottom; margin-left:1px; } 
.ui-datepicker-calendar { width:100%; border-collapse:collapse; }
.ui-datepicker-calendar thead th { text-align:center; padding:0px; font-size:9pt; }
.ui-datepicker-calendar tbody td { text-align:right; padding:1px;  }
.ui-datepicker-calendar td a { display:block; text-decoration:none; color:#444444; border:1px solid #cccccc; background-color:#f9f9f9; color:#111; padding:0px 1px; }
.ui-datepicker-calendar td.ui-datepicker-today a { color:#666666; background-color:#fff;  }
.ui-datepicker-calendar td.ui-datepicker-current-day a { background-color:#EAF5FF; color:#222222; border-color:#5980FF; }
.ui-datepicker-calendar td a:hover { color:#5980FF; }
.ui-datepicker-header { padding:3px 0px; }
.ui-datepicker-prev { position:absolute; left:2px;}
.ui-datepicker-next { position:absolute; right:2px;}
.ui-datepicker-title { text-align:center; }
.ui-datepicker-prev, .ui-datepicker-next { cursor:pointer; padding:0px 3px; }




#taskviewcontainer { border-bottom:1px dashed #ccc; padding:1px 2px; }
#taskviewcontainer:hover { cursor:pointer; border-bottom:1px solid #bbb; }
#taskview { overflow: hidden; z-index:103; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#taskview .li { margin:1px 0px; padding:2px; cursor:pointer; }
#taskview .li:hover { background-color:#316AC5; color:white; }

#userviewcontainer { border-bottom:1px dashed #ccc; padding:1px 2px; }
#userviewcontainer:hover { cursor:pointer; border-bottom:1px solid #bbb; }
#userview { overflow: hidden; z-index:103; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#userview .li { margin:1px 0px; padding:2px; cursor:pointer;  }
#userview .li:hover { background-color:#316AC5; color:white; }


#usertaskviewcontainer { border-bottom:1px dashed #ccc; padding:1px 2px; }
#usertaskviewcontainer:hover { cursor:pointer; border-bottom:1px solid #bbb; }


#multicloudbtn { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc; padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#multicloudbtn:hover { cursor:pointer; border-bottom:1px solid #bbb; }
#multiview { overflow: hidden; z-index:103; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#multiview .li { margin:1px 0px; padding:2px; cursor:pointer; }
#multiview .li:hover { background-color:#316AC5; color:white; }
  
#multiform { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#multiform .li { margin:1px 0px; padding:2px; cursor:pointer; }
#multiform .li:hover { background-color:#316AC5; color:white; }
 


#sort { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc;/*  border:1px solid #dddddd */;  padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#sort:hover { border-bottom:1px solid #bbb; /*border-color:#aaaaaa;*/ }  
#sortform { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#sortform .li { margin:1px 0px; padding:2px; cursor:pointer; }
#sortform .li:hover { background-color:#316AC5; color:white; }



#sort1 { margin-left:5px; font-size:8pt; font-weight:normal; border-bottom:1px dashed #ccc;   border:1px solid #dddddd  ;  padding:2px; cursor:pointer; -moz-user-select:none; -webkit-user-select: none; }
#sort1:hover { border-bottom:1px solid #bbb; border-color:#aaaaaa;  } 
#sortuserform { overflow: hidden; z-index:101; background-color:#f9f9f9; border:1px solid #cccccc; padding:3px; } 
#sortuserform .li { margin:1px 0px; padding:2px; cursor:pointer; }
#sortuserform .li:hover { background-color:#316AC5; color:white; }







.ui-resizable { position:relative;}
.ui-resizable-handle { position:absolute; font-size:0.1px; z-index:99999; display:block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display:none; }
.ui-resizable-s { cursor:s-resize; height:7px; width:100%; bottom:-5px; left:0px; }
.ui-resizable-e { cursor:e-resize; width:7px; right:-5px; top:0px; height:100%; }
.ui-resizable-se { cursor:se-resize; width:12px; height:12px; right:1px; bottom:1px; }
div.editForm{border-bottom:solid 2px #DEDEDE; display:none; padding:10px; font-size:12px; background:#FFFFCC;}
/*li {border-bottom:solid 1px #DEDEDE; display:block; list-style:none; margin:0;}*/
 .date{font-size:11px; color:#999999;}  


  




code {
  font-size: 1.2em;
}

a {
  color: #06581f;
}
 

 
 
.horizontal {
  float: left;
  list-style: none;
  margin: 10px;
}
.sub-level {
  background: #ccc;
}
a {
  color: #00c;
}
a.mailto {
  background: url(images/email.png) no-repeat 100% 2px;
  padding-right: 18px;
}
a.pdflink {
  background: url(images/pdf.png) no-repeat 100% 0;8
  padding-right: 18px;
}
a.henrylink {
  background-color: #fff;
  padding: 2px;
  border: 1px solid #000;
}
a.external {
  background: #fff url(images/external.png) no-repeat 100% 2px;
  padding-right: 16px;
}

 #listing {
	width: 600px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 50px; 
	margin-left: auto;
	background-color: #FFFFFF;
	padding: 20px;
	border: 4px solid #999999;
	-moz-border-radius: 9px;
}

.even {
	background-color: #CCCCCC;

}








#ch_opener{
				position:absolute;top:0;right:0;border:1px solid #000;background:#ff0;-moz-border-radius:10px;width:20px;height:20px;text-align:center;
			}
			.contextual_help_links{
			  border:1px solid #000;background:#ff0;-moz-border-radius:5px;width:10px;height:10px;text-align:center;font-size:8px;display:inline-block;
			}
			.contextual_help_result{
				position:absolute;border:1px solid #000;background:#fff;opacity:.7;
			} 
			
			
/************************************LUCTURE_VIDEO********************************************************/

#loading {
height: 35px;
padding: 0;
margin: 0;
}
#loading img {
margin:0;
margin-left: 25px;
padding: 0;
display: none;
}
ul#countList {
 
 
float: right; 	
list-style: none;
}

ul#countList li {
/* 
padding: 5px;
padding-left: 15px;
padding-right: 30px;
marging-right: 150px;		
background: url(yes.gif)  192px 5px no-repeat;
*/ 
position:relative;	
background: url(yes.gif)     0px 3px no-repeat;	
margin: 0px;
padding: 5px;
padding-left: 15px;
 

list-style-type: none;
  
}
			
			
#forum_decision1 {

width: 850px;
height: 900px;
padding: 5px;
margin: 5px;
border: 3px solid #666;
float: left;
}			
			
#forum_decision2 {
 	
width: 82%;
height: 300px;	
background-color: #CCCCCC;
margin-right: 35px; 
padding: 5px;
overflow:hidden; 
border: 3px solid #666;
 
overflow:scroll;
 
}						
/*************************pagination********************************************/			

div.pager {
/*border: 1px solid #C81ED2; float: right; color: rgb(0, 99, 220);	*/
  margin-bottom: .30em;
}


#content .filter {
  padding: .2em;
}


 
#content_page .active {
  background: #ccf;
  border: 1px solid #006;
  
}

 
#content_page tr.highlight {
  background: #ff6;
}
#content_page tr.plain {
  background: #fff;
}			
#content_page tbody th {
  background-color: #6f93ce;
  padding-left: 6px;
  
}

#content_page .page-number {
  border: 3px solid #ccc;
  margin-right: 3px;
}
/***************************************
   =INTERFACE ELEMENTS
-------------------------------------- */
  
.hover {
  text-decoration: underline;
  background-color: #b0b0ff;
  color:red;
}


 
 th.clickable {
  
  background: transparent url(../images/sort-arrows.png) no-repeat 0 0;
}
 


 	
 	
			 
			
			
			
			
.nav { background: #eee; border-top: 2px solid #999; padding: 5px; }
.nav a { padding: 0 5px; }			
			
 		
 /*.active {color:black; border:solid 1px black;}*/	 	
 .clickable {font-size:15px; color:red; background:#F5F5F5; border:solid 1px gray; padding:0 5px; margin:0 5px; cursor:pointer;} 

			
a{
 
   color: #664EDF;
   text-decoration: none;
}

a:hover{
  
   background-color: #b0b0ff;
}


			