
ul.mainNav {
/*	border-bottom: 2px solid #506BB1;*/
	margin: 20px;
	padding-left: 20px;
	float: left;
	width: 100%;
		
}

.mainNav li {
	list-style: none;
		float: right ;
	margin-right:10px;
	 background: transparent url(../../images/right_side.png) no-repeat right top !important;
	
	 margin-bottom:0px;
	  
}

.mainNav a {
	display: block;
	padding: 7px 15px 4px 15px;
	background-image: url(../../images/left_side.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
	
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	/*position: relative ;*/
	right: 6px;
}

.mainNav a:hover {
 	color:#F90; 
/* color: #B51032;*/
   
}

 