
#menuBar {
	display: block;
	margin-bottom: 5px;
	position: relative;
	 
	top: 0px;
	left: 0px;
	right: 0px;
	width: 95%;
	/*overflow: hidden;*/

 background:#BED8E6  url('../images/my_background.png') repeat-x;
	 color:#FFF;
	margin-right: 55px;
	margin-left: 35px;
	  
   
    padding: 6px; 
  
	-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  
	}
 
 
 
 
 
.menuHeader {
	color: #fff;
	font-size: 12px;
	font-family: arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	/*padding: 5px;*/
	margin-top:25px !important;
	 
	text-align: center;
	display: inline;
	position: relative;
	background-color: #000;
	right:50px;
	/*border-left: 1px solid #000000;*/
	
	}

.menuDrop {
	 
	position: absolute;
	display:inline-block;
 	padding-left: 45px; 
	visibility: hidden;
	overflow: auto;
    z-index: 1000;
	top: 60px;
	left:60px;
	width: 150px;
	height: auto;
	margin:0px auto;
 	margin-left: -35px;
	padding-left: 5px; 
	padding: 0px;
	color: #999999;
	font-size: 12px;
    font-weight:normal;
    font-family: arial, Helvetica, sans-serif;
	background-color: #ffffff;
	background-repeat: repeat;
	border-style: solid;
	border-width:  2px 2px;
	border-color: #003365;
	font-weight:bold;

}
 
 

.menuDrop   a:link, .menuDrop   a:visited  {
  
  display: block;
  padding: 0.4em 0 0.4em 0.5em;
  border-right: 12px solid #711515;
  border-left: 1px solid #711515;
  background-color: #B51032;
  color: #FFFFFF;
  text-decoration: none;
  /*text-align: right;*/
  text-align:center;
}

.menuDrop  a:hover {
  background-color: #711515;
  color: #FFFFFF;
  text-align: right;
}	
.menuDrop a {
  border-bottom: 1px solid #ED9F9F;
}	
/***********************MENU+2**************************/
#menuBar2 {
	display: block;
	margin-bottom: 5px;
	position: relative;
	 
	top: 0px;
	left: 0px;
	right: 0px;
	width: 80%;
	overflow: hidden;
/* background: url(../../images/left_side.png) repeat-x;*/
 background:#BED8E6  url('../images/my_background.png') repeat-x;
	 color:#FFF;
	margin-right: 55px;
	margin-left: 35px;
	  

    padding: 6px; 
  
	-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
  
	}
 

.menuHeader2{
	color: #fff;
	font-size: 12px;
	font-family: arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
 
	margin: 0px;
	 
	text-align: center;
	display: inline;
	position: relative;
	background-color: #000;
	right:50px;
	 
	
	}
	
	.menuDrop2{
	 
	position: absolute;
	display:inline-block;
	padding-left: 45px; 
	
/*	 visibility: hidden; left:30px;*/
    z-index: 1000;
   
    overflow: auto;
	top: 60px;
	
	width: 100px;
	height: auto;
	margin:0px auto;
 	margin-left: -35px;
	padding-left: 5px; 
	padding: 0px;
	color: #999999;
 	font-size: 12px;
    font-weight:normal;
    font-family: arial, Helvetica, sans-serif;
	background-color: #ffffff;
	background-repeat: repeat;
	border-style: solid;
	border-width:  2px 2px;
	border-color: #003365;  
	
	}
	
		
	.menuDrop2   a:link, .menuDrop2   a:visited  {
  
  display: block;
  padding: 0.4em 0 0.4em 0.5em;
  border-right: 12px solid #711515;
  border-left: 1px solid #711515;
  background-color: #B51032;
  color: #FFFFFF;
  text-decoration: none;
  /*text-align: right;*/
  text-align:center;
}

.menuDrop2  a:hover {
  background-color: #711515;
  color: #FFFFFF;
  text-align: right;
}	
.menuDrop2 a {
  border-bottom: 1px solid #ED9F9F;
}	

 
/*****************************************/		